<a
    tabindex="0"
    class="facebook"
    ng-href="{{ socialVm.linkToNetwork({network: 'facebook'}) }}"
    target="_blank" title="{{ socialVm.fbCounter }} {{ socialVm.i18n.social.facebook.likes }}">
    <i class="fa fa-facebook"></i>
</a>

<a
    tabindex="0"
    class="twitter"
    ng-href="{{ socialVm.linkToNetwork({network: 'twitter'}) }}"
    target="_blank"
    title="{{ socialVm.twCounter }} {{ socialVm.i18n.social.twitter.followers }}">
    <i class="fa fa-twitter"></i>
</a>

<a
    tabindex="0"
    class="youtube"
    ng-href="{{ socialVm.linkToNetwork({network: 'youtube'}) }}"
    target="_blank"
    title="{{ socialVm.ytCounter }} {{ socialVm.i18n.social.youtube.subscribers }}">
    <i class="fa fa-youtube"></i>
</a>
