.btn
    position relative
    display inline-block
    padding 6px 12px
    margin-bottom 0
    font-size 14px
    font-weight normal
    line-height 1.42857143
    text-align center
    white-space nowrap
    vertical-align middle
    cursor pointer
    -webkit-user-select none
    -moz-user-select none
    -ms-user-select none
    user-select none
    background-image none
    border 1px solid transparent
    border-radius 4px

    i
        font-size 18px
        position absolute
        top 25%

.btn.disabled,
.btn[disabled]
    pointer-events none
    cursor not-allowed
    box-shadow none
    opacity .65

.btn-default
    color #333
    background-color #fff
    border-color #ccc

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active
    color #333
    background-color #e6e6e6
    border-color #adadad

.btn-default:active,
.btn-default.active
    background-image none

.btn-default.disabled,
.btn-default[disabled],
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
.btn-default.disabled.active,
.btn-default[disabled].active
    background-color #fff
    border-color #ccc

.btn-primary
    color #fff
    background-color #428bca
    border-color #357ebd

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active
    color #fff
    background-color #3071a9
    border-color #285e8e

.btn-primary:active,
.btn-primary.active
    background-image none

.btn-primary.disabled,
.btn-primary[disabled],
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active
    background-color #428bca
    border-color #357ebd

.btn-success
    color #fff
    background-color #5cb85c
    border-bottom 4px solid #27763A

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active
    color #fff
    background-color #449d44
    border-color #398439

.btn-success:active,
.btn-success.active
    background-image none

.btn-success.disabled,
.btn-success[disabled],
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
.btn-success.disabled.active,
.btn-success[disabled].active
    background-color #5cb85c
    border-color #4cae4c

.btn-info
    color #fff
    background-color #3498db
    border-bottom 4px solid #17374D

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active
    color #fff
    background-color #1C7DC3
    border-color #3B68A9

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info
    background-image none

.btn-info.disabled,
.btn-info[disabled],
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
.btn-info.disabled.active,
.btn-info[disabled].active
    background-color #5bc0de
    border-color #46b8da

.btn-warning
    color #fff
    background-color #f0ad4e
    border-color #eea236

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active
    color #fff
    background-color #ec971f
    border-color #d58512

.btn-warning:active,
.btn-warning.active
    background-image none

.btn-warning.disabled,
.btn-warning[disabled],
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active
    background-color #f0ad4e
    border-color #eea236

.btn-danger
    color #fff
    background-color #DA4D49
    border-bottom 4px solid #762727

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active
    color #fff
    background-color #c9302c
    border-color #ac2925

.btn-danger:active,
.btn-danger.active
    background-image none

.btn-danger.disabled,
.btn-danger[disabled],
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active
    background-color #d9534f
    border-color #d43f3a

.alert
    padding 15px
    margin-bottom 20px
    border 1px solid transparent
    border-radius 4px
    h4
        margin-top 0
        color inherit
    .alert-link
        font-weight bold
    & > p
        & + p
            margin-top 5px

.alert > p,
.alert > ul
    margin-bottom 0

.alert-dismissable,
.alert-dismissible
    padding-right 35px

.alert-dismissable .close,
.alert-dismissible .close
    position relative
    top -2px
    right -21px
    color inherit

.alert-success
    color #3c763d
    background-color #dff0d8
    border-color #d6e9c6
    hr
        border-top-color #c9e2b3
    .alert-link
        color #2b542c

.alert-info
    color #31708f
    background-color #d9edf7
    border-color #bce8f1
    hr
        border-top-color #a6e1ec
    .alert-link
        color #245269

.alert-warning
    color #8a6d3b
    background-color #fcf8e3
    border-color #faebcc
    hr
        border-top-color #f7e1b5
    .alert-link
        color #66512c

.alert-danger
    color #a94442
    background-color #f2dede
    border-color #ebccd1
    hr
        border-top-color #e4b9c0
    .alert-link
        color #843534

.btn-facebook
    color #ffffff
    background-color #3b5999
    &:hover
        background-color #2a4888

.btn-twitter
    color #ffffff
    background-color #60a9de
    &:hover
        background-color #4F98CD

.btn-github
    color #000000
    text-shadow 0 0.7px 0 rgba(0, 0, 0, 0.1)
    background-color #f2f2f2
    *background-color #e6e6e6
    background-image -moz-linear-gradient(top, #fafafa, #e6e6e6)
    background-image -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#e6e6e6))
    background-image -webkit-linear-gradient(top, #fafafa, #e6e6e6)
    background-image -o-linear-gradient(top, #fafafa, #e6e6e6)
    background-image linear-gradient(to bottom, #fafafa, #e6e6e6)
    background-repeat repeat-x
    border-color #e6e6e6 #e6e6e6 #c0c0c0
    border-color rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)

.btn-github:hover,
.btn-github:focus,
.btn-github:active,
.btn-github.active,
.btn-github.disabled,
.btn-github[disabled]
    color #000000
    background-color #e6e6e6
    *background-color #d9d9d9

.btn-github:active,
.btn-github.active
    background-color #cdcdcd \9

.btn-pinterest
    color #ffffff
    text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
    background-color #c51e25
    *background-color #ab171e
    background-image -moz-linear-gradient(top, #d62229, #ab171e)
    background-image -webkit-gradient(linear, 0 0, 0 100%, from(#d62229), to(#ab171e))
    background-image -webkit-linear-gradient(top, #d62229, #ab171e)
    background-image -o-linear-gradient(top, #d62229, #ab171e)
    background-image linear-gradient(to bottom, #d62229, #ab171e)
    background-repeat repeat-x
    border-color #ab171e #ab171e #680e12
    border-color rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)

.btn-pinterest:hover,
.btn-pinterest:focus,
.btn-pinterest:active,
.btn-pinterest.active,
.btn-pinterest.disabled,
.btn-pinterest[disabled]
    color #ffffff
    background-color #ab171e
    *background-color #95141a

.btn-pinterest:active,
.btn-pinterest.active
    background-color #7e1116 \9

.btn-linkedin
    color #ffffff
    text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
    background-color #60a9ce
    *background-color #4393bb
    background-image -moz-linear-gradient(top, #73b8db, #4393bb)
    background-image -webkit-gradient(linear, 0 0, 0 100%, from(#73b8db), to(#4393bb))
    background-image -webkit-linear-gradient(top, #73b8db, #4393bb)
    background-image -o-linear-gradient(top, #73b8db, #4393bb)
    background-image linear-gradient(to bottom, #73b8db, #4393bb)
    background-repeat repeat-x
    border-color #4393bb #4393bb #2f6783
    border-color rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)

.btn-linkedin:hover,
.btn-linkedin:focus,
.btn-linkedin:active,
.btn-linkedin.active,
.btn-linkedin.disabled,
.btn-linkedin[disabled]
    color #ffffff
    background-color #4393bb
    *background-color #3c84a8

.btn-linkedin:active,
.btn-linkedin.active
    background-color #367595 \9

.btn-google-plus
    color #ffffff
    background-color #de4b39
    &:hover
        background-color #CD3A28

.btn-instagram
    color #ffffff
    text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
    background-color #5c88ab
    *background-color #3f729b
    background-image -moz-linear-gradient(top, #6f97b6, #3f729b)
    background-image -webkit-gradient(linear, 0 0, 0 100%, from(#6f97b6), to(#3f729b))
    background-image -webkit-linear-gradient(top, #6f97b6, #3f729b)
    background-image -o-linear-gradient(top, #6f97b6, #3f729b)
    background-image linear-gradient(to bottom, #6f97b6, #3f729b)
    background-repeat repeat-x
    border-color #3f729b #3f729b #294a65
    border-color rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)

.btn-instagram:hover,
.btn-instagram:focus,
.btn-instagram:active,
.btn-instagram.active,
.btn-instagram.disabled,
.btn-instagram[disabled]
    color #ffffff
    background-color #3f729b
    *background-color #386589

.btn-instagram:active,
.btn-instagram.active
    background-color #305777 \9

.btn-dropbox
    color #ffffff
    text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
    background-color #2e95e0
    *background-color #2181cf
    background-image -moz-linear-gradient(top, #37a3eb, #2181cf)
    background-image -webkit-gradient(linear, 0 0, 0 100%, from(#37a3eb), to(#2181cf))
    background-image -webkit-linear-gradient(top, #37a3eb, #2181cf)
    background-image -o-linear-gradient(top, #37a3eb, #2181cf)
    background-image linear-gradient(to bottom, #37a3eb, #2181cf)
    background-repeat repeat-x
    border-color #2181cf #2181cf #16588d
    border-color rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)

.btn-dropbox:hover,
.btn-dropbox:focus,
.btn-dropbox:active,
.btn-dropbox.active,
.btn-dropbox.disabled,
.btn-dropbox[disabled]
    color #ffffff
    background-color #2181cf
    *background-color #1d73b9

.btn-dropbox:active,
.btn-dropbox.active
    background-color #1a66a3 \9

.btn-bitbucket
    color #ffffff
    text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
    background-color #285991
    *background-color #205081
    background-image -moz-linear-gradient(top, #2d5f9c, #205081)
    background-image -webkit-gradient(linear, 0 0, 0 100%, from(#2d5f9c), to(#205081))
    background-image -webkit-linear-gradient(top, #2d5f9c, #205081)
    background-image -o-linear-gradient(top, #2d5f9c, #205081)
    background-image linear-gradient(to bottom, #2d5f9c, #205081)
    background-repeat repeat-x
    border-color #205081 #205081 #112a44
    border-color rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)

.btn-bitbucket:hover,
.btn-bitbucket:focus,
.btn-bitbucket:active,
.btn-bitbucket.active,
.btn-bitbucket.disabled,
.btn-bitbucket[disabled]
    color #ffffff
    background-color #205081
    *background-color #1b436d

.btn-bitbucket:active,
.btn-bitbucket.active
    background-color #163758 \9

.btn-foursquare
    color #ffffff
    text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
    background-color #079dcd
    *background-color #0072b1
    background-image -moz-linear-gradient(top, #0cbadf, #0072b1)
    background-image -webkit-gradient(linear, 0 0, 0 100%, from(#0cbadf), to(#0072b1))
    background-image -webkit-linear-gradient(top, #0cbadf, #0072b1)
    background-image -o-linear-gradient(top, #0cbadf, #0072b1)
    background-image linear-gradient(to bottom, #0cbadf, #0072b1)
    background-repeat repeat-x
    border-color #0072b1 #0072b1 #004165
    border-color rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)

.btn-foursquare:hover,
.btn-foursquare:focus,
.btn-foursquare:active,
.btn-foursquare.active,
.btn-foursquare.disabled,
.btn-foursquare[disabled]
    color #ffffff
    background-color #0072b1
    *background-color #006298

.btn-foursquare:active,
.btn-foursquare.active
    background-color #00517e \9

.btn-skype
    color #ffffff
    text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
    background-color #43bbe8
    *background-color #00aff0
    background-image -moz-linear-gradient(top, #70c3e2, #00aff0)
    background-image -webkit-gradient(linear, 0 0, 0 100%, from(#70c3e2), to(#00aff0))
    background-image -webkit-linear-gradient(top, #70c3e2, #00aff0)
    background-image -o-linear-gradient(top, #70c3e2, #00aff0)
    background-image linear-gradient(to bottom, #70c3e2, #00aff0)
    background-repeat repeat-x
    border-color #00aff0 #00aff0 #0077a3
    border-color rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)

.btn-skype:hover,
.btn-skype:focus,
.btn-skype:active,
.btn-skype.active,
.btn-skype.disabled,
.btn-skype[disabled]
    color #ffffff
    background-color #00aff0
    *background-color #009cd7

.btn-skype:active,
.btn-skype.active
    background-color #008abd \9

.btn-stackexchange
    color #ffffff
    text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
    background-color #3a70b0
    *background-color #185397
    background-image -moz-linear-gradient(top, #5184c1, #185397)
    background-image -webkit-gradient(linear, 0 0, 0 100%, from(#5184c1), to(#185397))
    background-image -webkit-linear-gradient(top, #5184c1, #185397)
    background-image -o-linear-gradient(top, #5184c1, #185397)
    background-image linear-gradient(to bottom, #5184c1, #185397)
    background-repeat repeat-x
    border-color #185397 #185397 #0e2f55
    border-color rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)

.btn-stackexchange:hover,
.btn-stackexchange:focus,
.btn-stackexchange:active,
.btn-stackexchange.active,
.btn-stackexchange.disabled,
.btn-stackexchange[disabled]
    color #ffffff
    background-color #185397
    *background-color #154781

.btn-stackexchange:active,
.btn-stackexchange.active
    background-color #113b6b \9

.btn-trello
    color #ffffff
    text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
    background-color #438ab4
    *background-color #27709b
    background-image -moz-linear-gradient(top, #569cc4, #27709b)
    background-image -webkit-gradient(linear, 0 0, 0 100%, from(#569cc4), to(#27709b))
    background-image -webkit-linear-gradient(top, #569cc4, #27709b)
    background-image -o-linear-gradient(top, #569cc4, #27709b)
    background-image linear-gradient(to bottom, #569cc4, #27709b)
    background-repeat repeat-x
    border-color #27709b #27709b #18445e
    border-color rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)

.btn-trello:hover,
.btn-trello:focus,
.btn-trello:active,
.btn-trello.active,
.btn-trello.disabled,
.btn-trello[disabled]
    color #ffffff
    background-color #27709b
    *background-color #226187

.btn-trello:active,
.btn-trello.active
    background-color #1d5372 \9

.btn-tumblr
    color #ffffff
    text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
    background-color #34526e
    *background-color #2a4763
    background-image -moz-linear-gradient(top, #3a5976, #2a4763)
    background-image -webkit-gradient(linear, 0 0, 0 100%, from(#3a5976), to(#2a4763))
    background-image -webkit-linear-gradient(top, #3a5976, #2a4763)
    background-image -o-linear-gradient(top, #3a5976, #2a4763)
    background-image linear-gradient(to bottom, #3a5976, #2a4763)
    background-repeat repeat-x
    border-color #2a4763 #2a4763 #13202d
    border-color rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)

.btn-tumblr:hover,
.btn-tumblr:focus,
.btn-tumblr:active,
.btn-tumblr.active,
.btn-tumblr.disabled,
.btn-tumblr[disabled]
    color #ffffff
    background-color #2a4763
    *background-color #223a51

.btn-tumblr:active,
.btn-tumblr.active
    background-color #1b2d3f \9

.btn-youtube
    color #ffffff
    text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
    background-color #a72121
    *background-color #6e0610
    background-image -moz-linear-gradient(top, #cd332d, #6e0610)
    background-image -webkit-gradient(linear, 0 0, 0 100%, from(#cd332d), to(#6e0610))
    background-image -webkit-linear-gradient(top, #cd332d, #6e0610)
    background-image -o-linear-gradient(top, #cd332d, #6e0610)
    background-image linear-gradient(to bottom, #cd332d, #6e0610)
    background-repeat repeat-x
    border-color #6e0610 #6e0610 #250205
    border-color rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)

.btn-youtube:hover,
.btn-youtube:focus,
.btn-youtube:active,
.btn-youtube.active,
.btn-youtube.disabled,
.btn-youtube[disabled]
    color #ffffff
    background-color #6e0610
    *background-color #56050c

.btn-youtube:active,
.btn-youtube.active
    background-color #3e0309 \9
