.content
    float left
    margin-left 80px
    width 82%

    .registration
        form
            .avatar
                position relative

                img
                    $borderRadius(50%)
                    width 48px

                .welcome
                    position absolute
                    top 15px
                    left 60px

            input[type="text"]
            input[type="email"]
                width 220px
