@font-face
    font-family 'Open Sans'
    src url('/assets/fonts/opensans/opensans.eot')
    src url('/assets/fonts/opensans/opensans.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/opensans/opensans.woff2') format('woff2'),
        url('/assets/fonts/opensans/opensans.woff') format('woff'),
        url('/assets/fonts/opensans/opensans.ttf') format('truetype'),
        url('/assets/fonts/opensans/opensans.svg#OpenSans') format('svg')
    font-weight normal
    font-style normal
