html
    height 100%

body
    background-color $darkGray
    color $white
    overflow-x hidden
    width 100%

    a
        $pointer()
        color $darkGray
        text-decoration none

        &:hover
            color $blueCodejobs
