.clearfix
    *zoom 1
    &:after
        content ''
        display block
        clear both
        height 0

.pointer
    cursor pointer

html
    height 100%

body
    background-color $darkGray
    font-family 'OpenSans', 'Helvetica Neue', sans-serif
    height 100%
    margin 0
    overflow-x hidden
    padding 0

    a
        text-decoration none
        color $darkGray
