.clearfix
    *zoom 1
    &:after
        content ''
        display block
        clear both
        height 0

.pointer
    cursor pointer

.hide
    display none

.no-select
    touch-callout none
    user-select none

html
    height 100%

body
    background-color $darkGray
    color $white
    overflow-x hidden
    width 100%

    a
        cursor pointer
        text-decoration none

        &:hover
            color $jobsBlue
