header
    background-color $white
    font-family 'Open Sans', sans-serif
    font-size 14px
    height 52px
    line-height 52px
    position relative
    width 100%
    z-index 100

    .wrapper
        $clearfix()
        margin 0 auto
        min-width 1280px
        position relative
        width 90%

        .logo
            $displayLogo()
            float left

        .menu
            color $darkGray
            float left
            margin-left 20px
            position relative

            ul
                $resetUl()
                $clearfix()

                li
                    display block
                    float left
                    margin-left 30px

                    a
                        position relative

                        i
                            position absolute
                            left 45px
                            top 0

                    &.topics
                        &:hover
                            ul
                                &.sub-menu
                                    display block
                                    opacity 1
                                    z-index 100

                        ul
                            &.sub-menu
                                $borderRadius(0, 5px, 5px, 0)
                                $boxShadow(0px, 2px, 3px)
                                display none
                                background-color $white
                                left 0
                                opacity 0
                                position absolute
                                top 100%
                                transition opacity linear 0.15s
                                width 160px
                                z-index -1

                                li
                                    display block
                                    margin 0
                                    position relative
                                    text-indent 10px
                                    width 100%

                                    a
                                        display block

                                        i.icon
                                            background-repeat no-repeat
                                            display block
                                            height 40px
                                            margin-left 65px
                                            margin-top 6px
                                            width 40px

                                        &.mongo
                                            color $brownMongo

                                            &:hover
                                                background-color $brownMongo

                                                i.icon
                                                    $retina('../images/icons/mongodb')

                                        &.express
                                            color $grayExpress

                                            &:hover
                                                background-color $grayExpress

                                                i.icon
                                                    $retina('../images/icons/express')

                                        &.angular
                                            color $redAngular

                                            &:hover
                                                background-color $redAngular

                                                i.icon
                                                    $retina('../images/icons/angular')

                                        &.node
                                            color $greenNode

                                            &:hover
                                                background-color $greenNode

                                                i.icon
                                                    $retina('../images/icons/node')

                                        &.php
                                            color $purplePHP

                                            &:hover
                                                background-color $purplePHP

                                                i.icon
                                                    $retina('../images/icons/php')

                                        &.js
                                            color $yellowJS

                                            &:hover
                                                background-color $yellowJS

                                                i.icon
                                                    $retina('../images/icons/js')

                                        &.html5
                                            color $orangeHTML5

                                            &:hover
                                                background-color $orangeHTML5

                                                i.icon
                                                    $retina('../images/icons/html5')

                                        &.css3
                                            color $blueCSS3

                                            &:hover
                                                background-color $blueCSS3

                                                i.icon
                                                    $retina('../images/icons/css3')

                                        &.sublime
                                            color $yellowSublime

                                            &:hover
                                                background-color $yellowSublime

                                                i.icon
                                                    $retina('../images/icons/sublime')

                                        &.bootstrap
                                            color $purpleBootstrap

                                            &:hover
                                                background-color $purpleBootstrap

                                                i.icon
                                                    $retina('../images/icons/bootstrap')


                                        &.grunt
                                            color $yellowGrunt

                                            &:hover
                                                background-color $yellowGrunt

                                                i.icon
                                                    $retina('../images/icons/grunt')

                                        &.docker
                                            color $blueDocker

                                            &:hover
                                                background-color $blueDocker

                                                i.icon
                                                    $retina('../images/icons/docker')

                                        &.vagrant
                                            color $blueVagrant

                                            &:hover
                                                $borderRadius(0, 5px, 5px, 0)
                                                background-color $blueVagrant

                                                i.icon
                                                    $retina('../images/icons/vagrant')

                                        &:hover
                                            color $white


                    &.search
                        background-color $white
                        display block
                        position relative
                        transition width 0.3s ease
                        width 50px
                        z-index 100

                        &.active
                            width 520px

                            input
                                box-sizing border-box
                                padding 0 60px

                            .close
                                display block

                        input
                            background-color $white
                            border none
                            color #999
                            width 95%

                            &:focus
                                outline none

                        input[type=submit]
                            display none

                        i
                            color #999
                            cursor pointer
                            display block
                            line-height 52px
                            position absolute
                            text-align center
                            top 0
                            width 50px

                            &.close
                                display none
                                right 0

                    &.social
                        float left
                        height 52px
                        left 500px
                        top 0
                        width 450px

                        a
                            display inline-block
                            height 52px
                            margin-left -10px
                            vertical-align top
                            width 150px

                            .counter
                                color $lighGray
                                display block
                                height 52px
                                padding-left 50px

                                span.followers
                                    display block
                                    font-size 18px
                                    font-weight bold
                                    line-height 20px
                                    margin-top 10px

                                span.network
                                    font-weight $fontWeightLight
                                    position absolute
                                    text-transform capitalize
                                    top 12px

                            i
                                color $white
                                display block
                                font-size 30px
                                left 0
                                line-height 52px
                                position absolute
                                text-align center
                                width 55px

                            &.facebook
                                background-color $blueFacebook

                            &.twitter
                                background-color $blueTwitter

                            &.youtube
                                background-color $redYoutube
                    &.connect
                        a
                            display inline-block
                            padding 0 13px

                            &.login
                                color $darkGray

                                &:hover
                                    color $blueCodejobs

                            &.register
                                color $white
                                background-color $blueCodejobs

                                &:hover
                                    background-color $darkBlueCodejobs

