header
    background-color white
    font-family 'Open Sans', sans-serif
    font-size 14px
    height: 60px
    line-height 60px
    position relative

    .wrapper
        margin 0 auto
        width 90%

        .menu
            position absolute
            left 0
            top 0

            ul
                $resetUl()

                li
                    display inline-block
                    margin-left 10px

                    a
                        &.hamburger,
                        &.search
                            font-size 24px

        .logo
            font-size 26px
            margin 0 auto
            text-transform uppercase
            width 130px

            .code
                color $darkGray

            .jobs
                color $jobsBlue
                font-weight $fontWeightBold

            &:hover
                .code
                    color $jobsBlue
                .jobs
                    color $darkGray

        .access
            position absolute
            right 0px
            top 0

            ul
                $resetUl()

                li
                    display inline-block
                    margin-right 10px

                    a
                        display block

                        &:hover
                            color $jobsBlue

                        &::first-letter
                            color $jobsBlue
