header
    background-color $white
    font-family 'Open Sans', sans-serif
    font-size 14px
    height 52px
    line-height 52px
    position relative
    width 100%
    z-index 100

    .wrapper
        $clearfix()
        margin 0 auto
        position relative
        width 90%

        .logo
            $displayLogo()
            float left

        .connect
            float right

            a
                $noSelect()
                display inline-block
                padding 0 13px

                &.login
                    color $darkGray

                    &:hover
                        color $blueDevWay

                &.register
                    color $white
                    background-color $blueDevWay

                    &:hover
                        background-color $darkBlueDevWay

