/* Utils */
$clearfix()
    *zoom 1
    &:after
        content ''
        display block
        clear both
        height 0

$hide()
    display none

$noSelect()
    touch-callout none
    user-select none

$pointer()
    cursor pointer

/* Logo */
$displayLogo()
    $noSelect()
    font-size 26px
    margin 0 auto
    text-transform uppercase
    width 202px

    .code
        color $darkGray

    .jobs
        color $blueCodejobs
        font-weight $fontWeightBold

    &:hover
        .code
            color $blueCodejobs

        .jobs
            color $darkGray

/* Borders */
$border($color = red)
    border 1px solid $color

$borderRadius($topRight = 0px, $bottomRight = 0px, $bottomLeft = 0px, $topLeft = 0px)
    border-top-right-radius $topRight
    border-bottom-right-radius $bottomRight
    border-bottom-left-radius $bottomLeft
    border-top-left-radius $topLeft

/* BoxShadow */
$boxShadow($h = 2px, $v = 2px, $blur = 2px, $color = rgba(0, 0, 0, 0.3))
    box-shadow $h $v $blur $color

/* Lists */
$resetUl()
    margin 0
    padding 0
    list-style none

/* Images */
$retina($image, $extension = 'png')
    background-image url($image'.'$extension)

    @media (min-device-pixel-ratio: 2),
           (min-device-pixel-ratio: 2),
           (min-resolution: 192dpi),
           (min-resolution: 2dppx)
        background-image url($image'_2x.'$extension)
        background-size cover
