/* Utils */
$clearfix()
    *zoom 1
    &:after
        content ''
        display block
        clear both
        height 0

$centerWithMargin($width = 100%)
    display block
    margin 0 auto
    width $width

$hide()
    display none

$noContent()
    content ''
    background transparent

$noSelect()
    outline none
    touch-callout none
    user-select none

$pointer()
    cursor pointer

/* Font Awesome */
$fa($code, $size = 1em, $color = $blueDevWay, $bgColor = transparent)
    background-color $bgColor
    color $color
    content $code
    font-family FontAwesome
    font-size $size

/* Logo */
$displayLogo()
    font-size 26px
    margin 0 auto
    text-transform uppercase
    width 202px

    a
        $noSelect()

    .developer
        color $darkGray

    .way
        color $blueDevWay
        font-weight $fontWeightBold

    &:hover
        .developer
            color $blueDevWay

        .way
            color $darkGray

/* Borders */
$border($color = red)
    border 1px solid $color

$borderRadius($radius = 5px, $args...)
    if length($args) == 3
        border-top-right-radius $radius
        border-bottom-right-radius $args[0]
        border-bottom-left-radius $args[1]
        border-top-left-radius $args[2]
    else if length($args) == 2
        border-top-right-radius $radius
        border-bottom-right-radius $args[0]
        border-bottom-left-radius $args[1]
    else if length($args) == 1
        border-top-right-radius $radius
        border-bottom-right-radius $args[0]
    else
        border-radius $radius

/* BoxShadow */
$boxShadow($h = 2px, $v = 2px, $blur = 2px, $inset = false, $opacity = 0.3)
    if (!$inset)
        box-shadow $h $v $blur rgba(0, 0, 0, $opacity)
    else
        box-shadow inset $h $v $blur rgba(0, 0, 0, $opacity)

/* Lists */
$resetUl()
    margin 0
    padding 0
    list-style none

/* Images */
$retina($image, $extension = 'png')
    background-image url($image'.'$extension)

    @media (min-device-pixel-ratio: 2),
           (min-device-pixel-ratio: 2),
           (min-resolution: 192dpi),
           (min-resolution: 2dppx)
        background-image url($image'_2x.'$extension)
        background-size cover

/* Modal */
$modal($name)
    .{$name}
        margin 0 auto
        margin-top 20px
        height 400px
        width 440px
        position relative

        h2
            if $name == 'login'
                color $gray
            else if $name == 'register'
                color $white
            font-size 30px
            text-align center
            margin-bottom 0

        .form-group
            padding-bottom 20px

            .submit
                $centerWithMargin(30%)

            .checkbox
                input
                    position absolute
                    width 40px

    .btn-social
        bottom 0
        position absolute
        width 200px

    .btn-twitter
        left 0

    .btn-facebook
        right 0

    &.closed
        display none
        max-height 0
