/* Prefix vendors */
vendor-prefixes = o ms moz webkit official

/* Header */
headerBgColor = #F5F5F5

/* Logo & menu options */
grayWhite = #F5F5F5
jobsBlue = #0085DE

/* General Colors */
darkGray = #222
lighGray = #EEE
lighterGray = #F0F0F0
gray = #CCC
white = #FFF
black = #000

/* Font weights */
fontWeightLight = 300
fontWeightRegular = 500
fontWeightBold = 700
