<header>
    <div class="wrapper">
        <nav class="menu">
            <ul>
                <li><a href="#" class="hamburger"><i class="fa fa-bars"></i></a></li>
                <li><a href="#" class="search"><i class="fa fa-search"></i></a></li>
            </ul>
        </nav>

        <div class="logo">
            <a href="{{ config.basePath }}">
                <span class="code">Code</span><span class="jobs">Jobs</span>
            </a>
        </div>

        <nav class="access">
            <ul>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
            </ul>
        </nav>
    </div>
</header>
