<div class="modal">
    <div class="users-modal login-modal slideup">
        <a class="close">
            <i class="fa fa-times"></i>
        </a>

        {{> modal/login }}
    </div>

    <div class="users-modal register-modal slideup">
        <a class="close">
            <i class="fa fa-times"></i>
        </a>

        {{> modal/register }}
    </div>
</div>
