<div class="modal">
    <div class="users-modal login-modal slideup">
        <a class="close">
            {{{ icon "fa-times" }}}
        </a>

        {{> modal/login }}
    </div>

    <div class="users-modal register-modal slideup">
        <a class="close">
           {{{ icon "fa-times" }}}
        </a>

        {{> modal/register }}
    </div>
</div>
