<div class="modal">
    <div class="users-modal login-modal slideup">
        <a class="close">
            <i class="fa fa-times"></i>
        </a>

        <div class="login">
            <h2>Login</h2>

            <div class="form-group">
                <p>
                    <input name="username" placeholder="Username" type="text" />
                </p>

                <p>
                    <input name="password" placeholder="Password" type="password" />
                </p>

                <p>
                    <input type="checkbox" name="remember" value="forever" checked="checked"> Remember Me
                </p>

                <p>
                    <input name="login" type="submit" value="Login" />
                </p>
            </div>

            <a class="btn btn-block btn-social btn-twitter">
                <i class="fa fa-twitter"></i>
                Sign in with Twitter
            </a>

            <a class="btn btn-block btn-social btn-facebook">
                <i class="fa fa-facebook"></i>
                Sign in with Facebook
            </a>
        </div>
    </div>

    <div class="users-modal register-modal slideup">
        <a class="close">
            <i class="fa fa-times"></i>
        </a>
    </div>
</div>
