@import '../_variables'

$changeBodyColor($color)
    body
        background-color $color

$centerLogo()
    header
        .wrapper
            .logo
                float none
                margin 0 auto

            .connect
                display none
