@import '_mixins'

@media only screen and (max-width: 1366px)
    /* Styles for 1366px */
@media only screen and (max-width: 1280px)
    /* Styles for 1280px */

@media only screen and (max-width: 1024px)
    $removeHeaderOptions()
    $centerLogo()
    $displayDeviceMenu(18px, 50px)

@media only screen and (max-width: 768px)
    $removeHeaderOptions()
    $centerLogo()
    $displayDeviceMenu(18px, 50px)
