@import '../_mixins'
@import '_mixins'

@media only screen and (max-width 1140px)
    .content
        margin-left 90px
        width 80%

@media only screen and (max-width 1024px)
    .content
        margin-left 120px
        width 74%
