<header>
    <div class="wrapper">
        <div class="logo">
            <a tabindex="1" accesskey="1" title="Codejobs" href="{{ globalHeaderVm.basePath }}">
                <span class="code">Code</span><span class="jobs">Jobs</span>
            </a>
        </div>

        <div class="menu">
            <ul>
                <li class="topics">
                    <a tabindex="2" accesskey="2" title="{{ globalHeaderVm.i18n.menu.topics.title }}">
                        {{ globalHeaderVm.i18n.menu.topics.text }}
                        <i class="fa fa-sort-desc"></i>
                    </a>

                    <ul class="sub-menu">
                        <li>
                            <a tabindex="3" accesskey="m" title="{{ globalHeaderVm.i18n.menu.tutorials.mongo }}" class="mongo" href="{{ globalHeaderVm.basePath }}/articles/category/mongo">Mongo <i class="icon"></i></a>
                        </li>

                        <li>
                            <a tabindex="4" accesskey="e" title="{{ globalHeaderVm.i18n.menu.tutorials.express }}" class="express" href="{{ globalHeaderVm.basePath }}/articles/category/express">Express <i class="icon"></i></a>
                        </li>

                        <li>
                            <a tabindex="5" accesskey="a" title="{{ globalHeaderVm.i18n.menu.tutorials.angular }}" class="angular" href="{{ globalHeaderVm.basePath }}/articles/category/angular">Angular <i class="icon"></i></a>
                        </li>

                        <li>
                            <a tabindex="6" accesskey="n" title="{{ globalHeaderVm.i18n.menu.tutorials.node }}" class="node" href="{{ globalHeaderVm.basePath }}/articles/category/node">Node <i class="icon"></i></a>
                        </li>

                        <li>
                            <a tabindex="7" accesskey="p" title="{{ globalHeaderVm.i18n.menu.tutorials.php }}" class="php" href="{{ globalHeaderVm.basePath }}/articles/category/php">PHP <i class="icon"></i></a>
                        </li>

                        <li>
                            <a tabindex="8" accesskey="j" title="{{ globalHeaderVm.i18n.menu.tutorials.js }}" class="js" href="{{ globalHeaderVm.basePath }}/articles/category/javascript">JavaScript <i class="icon"></i></a>
                        </li>

                        <li>
                            <a tabindex="9" accesskey="h" title="{{ globalHeaderVm.i18n.menu.tutorials.html5 }}" class="html5" href="{{ globalHeaderVm.basePath }}/articles/category/html5">HTML5 <i class="icon"></i></a></li>

                        <li>
                            <a tabindex="10" accesskey="c" title="{{ globalHeaderVm.i18n.menu.tutorials.css3 }}" class="css3" href="{{ globalHeaderVm.basePath }}/articles/category/css3">CSS3 <i class="icon"></i></a>
                        </li>

                        <li>
                            <a tabindex="11" accesskey="s" title="{{ globalHeaderVm.i18n.menu.tutorials.sublime }}" class="sublime" href="{{ globalHeaderVm.basePath }}/articles/category/sublime">Sublime Text <i class="icon"></i></a>
                        </li>

                        <li>
                            <a tabindex="12" accesskey="b" title="{{ globalHeaderVm.i18n.menu.tutorials.bootstrap }}" class="bootstrap" href="{{ globalHeaderVm.basePath }}/articles/category/bootstrap">Bootstrap <i class="icon"></i></a>
                        </li>

                        <li>
                            <a tabindex="13" accesskey="g" title="{{ globalHeaderVm.i18n.menu.tutorials.grunt }}" class="grunt" href="{{ globalHeaderVm.basePath }}/articles/category/grunt">Grunt <i class="icon"></i></a>
                        </li>

                        <li>
                            <a tabindex="14" accesskey="d" title="{{ globalHeaderVm.i18n.menu.tutorials.docker }}" class="docker" href="{{ globalHeaderVm.basePath }}/articles/category/docker">Docker <i class="icon"></i></a>
                        </li>

                        <li>
                            <a tabindex="15" accesskey="v" title="{{ globalHeaderVm.i18n.menu.tutorials.vagrant }}" class="vagrant" href="{{ globalHeaderVm.basePath }}/articles/category/vagrant">Vagrant <i class="icon"></i></a>
                        </li>
                    </ul>
                </li>

                <li class="about">
                    <a tabindex="16" accesskey="u" title="{{ globalHeaderVm.i18n.menu.about.title }}" href="{{ globalHeaderVm.basePath }}/about">{{ globalHeaderVm.i18n.menu.about.text }}</a>
                </li>

                <li class="advertising">
                    <a tabindex="17" accesskey="l" title="{{ globalHeaderVm.i18n.menu.advertising.title }}" href="{{ globalHeaderVm.basePath }}/advertising">{{ globalHeaderVm.i18n.menu.advertising.text }}</a>
                </li>

                <li class="forums">
                    <a tabindex="18" accesskey="f" title="{{ globalHeaderVm.i18n.menu.forums.title }}" href="{{ globalHeaderVm.basePath }}/forums">{{ globalHeaderVm.i18n.menu.forums.text }}</a>
                </li>

                <li class="search">
                    <input  tabindex="19" type="text" name="term" autocomplete="off">
                    <i class="fa fa-search search"></i>
                    <i class="fa fa-close close"></i>
                    <input type="submit" />
                </li>

                <li class="social">
                    <social i18n="globalHeaderVm.i18n"></social>
                </li>

                <li class="connect" ng-if="!globalHeaderVm.isConnected">
                    <a tabindex="23" title="{{ globalHeaderVm.i18n.menu.login.title }}" class="login" href="{{ globalHeaderVm.basePath }}/users/login">{{ globalHeaderVm.i18n.menu.login.text }}</a>
                    <a tabindex="24" title="{{ globalHeaderVm.i18n.menu.register.title }}" class="register" href="{{ globalHeaderVm.basePath }}/users/register">{{ globalHeaderVm.i18n.menu.register.text }}</a>
                </li>
            </ul>
        </div>
    </div>
</header>
